html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
  font-family: -apple-system, BlinkMacSystemFont, Inter, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;

  &.scroll-locked {
    overflow: hidden;
  }
}

*,
:before,
:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
}

figure {
  margin: 0;
}

img,
svg {
  vertical-align: middle;
}

button {
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 1.5;
  font-size: inherit;

  &:disabled {
    opacity: 0.7;
  }
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
}

[role="button"] {
  cursor: pointer;
}

// Remove the inheritance of word-wrap in Safari.
//
// Details at https://github.com/twbs/bootstrap/issues/24990
select {
  word-wrap: normal;
}

// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
//    controls in Android 4.
// 2. Correct the inability to style clickable types in iOS and Safari.
button,
[type="button"], // 1
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // 2
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  &:not(:disabled) {
    cursor: pointer;
  }
}

// Remove inner border and padding from Firefox.
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input,
textarea {
  font-size: inherit;
}

textarea {
  resize: vertical;
}

// Correct the cursor style of increment and decrement buttons in Chrome.
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

th {
  text-align: left;
}

hr {
  border-style: solid;
  border-color: var(--divider-color);
}

code {
  font-size: 87.5%;
  word-wrap: break-word;
}

pre {
  font-size: 87.5%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
