.mobile-only {
  display: none;

  @media (max-width: 650px) {
    display: block;
  }
}

.desktop-only {
  @media (max-width: 650px) {
    display: none;
  }
}

.dark-only {
  display: none;

  @media (prefers-color-scheme: dark) {
    display: block;
  }
}

.light-only {
  display: block;

  @media (prefers-color-scheme: dark) {
    display: none;
  }
}
