@import "node_modules/@luma-team/lux-sass/styles/app";

body.light {
  @import "node_modules/prism-themes/themes/prism-one-light";
}

body.dark {
  @import "node_modules/prism-themes/themes/prism-one-dark";
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;

  --page-max-width: 60rem;
  --page-horizontal-padding: 1.5rem;
  --header-height: 3.2rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

h2 {
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 {
  margin-top: 1.75rem;
  margin-bottom: 0.5rem;
}

h1 + *,
h2 + *,
h3 + * {
  margin-top: 0;
}

a:not(h1 a):not(h2 a):not(h3 a) {
  color: var(--brand-color);
  font-weight: 500;
  text-decoration: none;
}

p,
li {
  line-height: 1.6;
  color: var(--secondary-color);
}

code:not(pre code) {
  background-color: var(--secondary-bg-color);
  color: var(--red-50);
  padding: 0.2em 0.4em;
  border-radius: var(--border-radius);
  overflow-wrap: anywhere;
}

body.dark code:not(pre code) {
  color: var(--red-30);
}

strong {
  color: var(--primary-color);
}

article img {
  max-width: 100%;
}
