body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgba(60, 66, 87, 1);
  margin: 0;
}

body,
body.force-light,
body.dark.force-light {
  --brand-color: #eb9147 !important;
  --brand-active-color: #1c8cf3 !important;
}

body.no-scroll {
  height: 100vh;
  overflow: hidden;
}

article h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

article h2 {
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

article h3 {
  margin-top: 1.75rem;
  margin-bottom: 0.5rem;
}

article h1 + *,
article h2 + *,
article h3 + * {
  margin-top: 0;
}

article a:not(h1 a):not(h2 a):not(h3 a) {
  color: var(--brand-color);
  font-weight: 500;
  text-decoration: underline;
}

article p,
article li {
  line-height: 1.6;
  color: var(--secondary-color);
}

article code:not(pre code) {
  background-color: hsl(0, 20%, 96%);
  color: hsl(0, 84%, 60%);
  padding: 0 0.3rem;
  border-radius: var(--border-radius);
}

article strong {
  color: var(--primary-color);
}
