body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgba(60, 66, 87, 1);
  margin: 0;
}

article h1 {
  font-size: 2.2rem;
}

article a {
  color: rgba(75, 85, 99, 1);
}

article h2 {
  margin: 2em 0;
}

article p {
  line-height: 1.5em;
  font-weight: 300;
}
