body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgba(60, 66, 87, 1);
  margin: 0;
}

body.no-scroll {
  height: 100vh;
  overflow: hidden;
}

article h1 {
  font-size: 2.2rem;
}

article a {
  color: rgba(75, 85, 99, 1);
}

article h2 {
  margin-top: 2.5rem;
}

article p,
article li {
  line-height: 1.5em;
}

article p a {
  color: var(--brand-color);
  text-decoration: underline;
}

article p a:hover {
  text-decoration: underline;
}
